@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.product_filter {
  display: flex;
  padding: 19px;
  gap: 9px;
}

.main-container {
  border: 1px solid black;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto ;
}

.catalogue__root {
  border:  1px solid;
  padding: 9px;

}

.catalogue_root__body {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  gap:9px ;
  padding:9px 0;
  justify-content: space-between;
}

.catalogue__root__body__item {
  flex-grow:0.1 ;
  flex-shrink:0 ;
  flex-basis: 200px;
  min-height: 300px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 9px;
  transition: all .2s ease-out;
}

.catalogue__root__body__item:hover {
  transform: scale(1.05);
}

/* ---------- */

.pagination__item {
  font-weight: bolder;
  color: red;
}